.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  padding: var(--pocds-space-size-400); /* Use token value from design system */
  background-color: var(--pocds-color-primary);
  color: #fff;
}

@media (min-width: 40em) {
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.app-header__logo {
  font-size: var(--pocds-font-size-size-600);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.app-header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: var(--pocds-space-size-400);
  gap: var(--pocds-space-size-400);
  list-style: none;
}

@media (min-width: 40em) {
  .app-header__menu {
    margin-top: 0;
  }
}

.app-header__link {
  padding: var(--pocds-space-size-200);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.app-header__link:hover {
  text-decoration: underline;
}

.app-header__link.is-active {
  background: #fff;
  color: var(--pocds-color-primary);
}

.app-footer {
  margin-top: auto;
  padding: var(--pocds-space-size-600); /* Use token value from design system */
  background-color: var(--pocds-color-primary);
  color: #fff;
}

.app-footer__heading {
  margin: 0;
  text-align: center;
}

.app-footer__menu {
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: var(--pocds-space-size-400);
  gap: var(--pocds-space-size-400);
  list-style: none;
}

@media (min-width: 40em) {
  .app-footer__menu {
    display: flex;
    justify-content: center;
  }
}

.app-footer__link {
  padding: var(--pocds-space-size-200);
  color: #fff;
  text-decoration: none;
}

.app-footer__link:hover {
  text-decoration: underline;
}

.app-footer__link.is-active {
  text-decoration: underline;
}
